[Dir]
# java used to build the OpenJDK
FallbackJavaBuild=/home/hb478/Downloads/jdk-25
# Dir of the openjdk to build
LabsOpenJDK=/home/hb478/repos/labs-openjdk-jvmci-25.1-b13
# Dir of the GTSlowdownSchedular
GTSlowdownSchedular=/home/hb478/repos/GTSlowdownSchedular
# Dir of the BuboExperiments
BuboExperiments=/home/hb478/repos/BuboExperiments
# Dir of the graal-instrumentation (graal compiler)
Graal=/home/hb478/repos/graal-instrumentation
# Jar of the Are-We-Fast-Yet benchmarks
AWFYBenchmarksJar=/home/hb478/repos/are-we-fast-yet/benchmarks/Java/benchmarks.jar
# Async Profiler
AsyncProfilerLibrary=/home/hb478/repos/are-we-fast-yet/Async/async-profiler-4.2.1-linux-x64/lib/libasyncProfiler.so